<div class="container-fluid d-flex flex-wrap">
    <div class="card" style="width: 25rem; margin-left: 24px;" m>
        <img src="assets/{{game.picture}}/first.jpg" style="height: 250px;" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Launched in {{game.year}}</h5>
        </div>
      </div>
    
      <div class="card" style="width: 25rem; margin-left: 24px;">
        <img src="assets/{{game.picture}}/second.jpg" style="height: 250px;" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Price: {{game.price}}</h5>
        </div>
      </div>
    
      <div class="card" style="width: 25rem; margin-left: 24px;">
        <img src="assets/{{game.picture}}/third.jpg" style="height: 250px;" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Gender: {{game.gender}}</h5>
        </div>
      </div>
</div>